<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Simonhua_finalproject</title>
</head>

<style>
.p1 {
    font-family: "Times New Roman", Times, serif;
}
select{
    text-align: center;
    text-align-last: center;
}
select option{
    direction: unset;
}
</style>


<body>
    <h1 class="p1">Restaurant selector</h1>
    <form action="/state" method="POST">
        <p>
            Please select a state you are in
            <select name='state' >
                {% for state in states %}
                    {% if state[1] == curState %}
                        <option value = "{{state[1]}}" selected="selected"> {{state[0]}}</option>
                    {% else %}
                        <option value = "{{state[1]}}"> {{state[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </p>
    </form> 
    <form action="/city" method="POST">
        <p>
            Please select a city you are in
            <select name='city'>
                {% for city in cities %}
                    {% if city[0] == curCity %}
                        <option value = "{{city[0]}}" selected="selected"> {{city[0]}}</option>
                    {% else %}
                        <option value = "{{city[0]}}"> {{city[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </p>
        
    </form> 


</body>
</html>