* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 800px;
    background-image: url(bg.png);
    background-size: cover;

}

.nav {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    text-align: center;
    transition: .5s;
}

.box {
    width: 80%;
    height: 2000px;
    margin: 20px auto;
}
