<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Simonhua_finalproject</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<style>
td,th,table{
  border: 1px solid black;
}
table {
  border-spacing: 1px;
}
.p1 {
    font-family: "Times New Roman", Times, serif;
}
.inline{ display:inline } 
select{
    text-align: center;
    text-align-last: center;
}
select option{
    direction: unset;
}
</style>
<body>
    <h1 class="p1">Restaurant selector</h1>
    <form action="/state" method="POST">
        <p class="inline">
            Please select a state you are in
            <select name='state'>
                {% for state in states %}
                    {% if state[1] == curState %}
                        <option value = "{{state[1]}}" selected="selected"> {{state[0]}}</option>
                    {% else %}
                        <option value = "{{state[1]}}"> {{state[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </p>
    </form> 

    <form action="/city" method="POST">
        <p class="inline">
            Please select a city you are in
            <select name='city'>
                {% for city in cities %}
                    {% if city[0] == curCity %}
                        <option value = "{{city[0]}}" selected="selected"> {{city[0]}}</option>
                    {% else %}
                        <option value = "{{city[0]}}"> {{city[0]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </p>
        
    </form> 
    <form action="/table" method="POST">
        <p class="inline">
            Please select a category you like
            <select name='category'>
                {% for i in total %}
                    {% if categories[i] == curCategory %}
                        <option value = "{{categories[i]}}" selected="selected"> {{categories_str[i]}}</option>
                    {% else %}
                        <option value = "{{categories[i]}}"> {{categories_str[i]}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="Submit"/>
        </p>
        
    </form> 
    <h2 class="p1">{{category}}</h2>
<table style="width: 700px;">
    <tr>
        <th class="p1">name</th>
        <th class="p1">img</th> 
    </tr>
    {% for i in range(5) %}
        <tr>
            <td>
                <a href="www.baidu.com">
                    <div class="p2"> Hello world </div>
                </a>
            </td>
            <td>
                <img src="https://www.baidu.com/img/flexible/logo/pc/result@2.png" width="200" height="120" />
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>
